body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6a5acd; 
}

.container {
    max-width: 700px; 
    margin: 50px auto;
    background-color: #fff;
    padding: 30px; /
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #fff; 
    background-color: #6a5acd; 
    padding: 20px; 
    border-radius: 10px; 
}

section {
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    grid-gap: 20px;
}

.form-campo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px; /
}

label {
    font-weight: bold;
    color: #6a5acd; 
}

input,
button {
    padding: 20px; 
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px; 
}

button {
    background-color: #6a5acd; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #483d8b; 
}

.campoErrado {
    color: #dc3545;
    font-size: 12px;
}

